* {
  margin: 0
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh
}
header, nav, main, footer {
  max-width: 960px;
  width: 90vw;
  min-width: 320px;
  margin: 0 auto
}
header, footer {
  text-align: center
}
header > .logo {
  font-family: 'Cinzel', serif;
  font-size: 5em
}
nav {
  margin-bottom: 5vh
}
nav > ul {
  display: flex;
  justify-content: space-around;
  list-style: none
}
nav > ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: 'Cinzel', serif;
  font-size: 2em
}
main {
  flex: 1
}
main > .introduction {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em
}
main > .menu {
  width: 90%;
  margin: 0 auto
}
main > .menu > .tabs {
  display: flex;
  justify-content: space-around
}
footer > .copyright {
  font-family: 'Roboto', sans-serif;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  vertical-align: middle 
}
