* {
  margin: 0
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh
}
header, nav, main, footer {
  max-width: 960px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto
}
header, footer {
  text-align: center
}
header {

}
nav > ul {
  display: flex;
  justify-content: space-around;
  list-style: none
}
nav > ul > li > a {
  text-decoration: none;
  color: #000
}
main {
  flex: 1
}
