/**********************************************/
/*          Piero's Pizza stylesheet          */
/**********************************************/
/* Website by Christopher Snow & Michael Wass */
/*       https://github.com/Christofosho      */
/*          https://github.com/mfwass         */
/**********************************************/

/* General styles */
* {
  margin: 0
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: transparent url("../img/background.jpg") no-repeat top center fixed;
  background-size: 100% 100%;
  height: 100%;
  margin-top: 0
}
@media (min-width: 900px) {
  header, nav, main, footer {
    width: 900px;
    margin: 0 auto
  }
}
@media screen and (max-width: 900px) {
  header, nav, main, footer {
    width: 95vw;
    margin: 0 auto
  }
}

/* header block */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  background: rgba(0,0,0,0.6)
}
.logo {
  height: 140px;
  line-height: 140px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 5.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  font-weight: 700;
  cursor: default
}
.logo > span {
  color: rgba(0,169,57,1)
}
header > img {
  width: 100px;
  height: 100px;
  margin-left: 40px
}

@media (max-width: 670px) {
  header, .logo {
    height: auto;
  }
  header {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .logo {
    line-height: 100px;
  }
}
@media (max-width: 360px) {
  .logo {
    font-size: 4.5em
  }
}

/* nav block */
nav {
  padding: 0;
  background: rgba(0,0,0,0.6)
}
nav > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  list-style: none
}
nav > ul > li > a {
  text-decoration: none;
  color: rgba(255,255,255,0.9);;
  font-size: 2.8em;
  font-weight: 400;
  transition: all 250ms
}
nav > ul > li > a.active {
  color: #D20606;
  text-shadow: 1px 1px 1px #000
}
nav > ul > li > a:not(.active):hover {
  color: rgba(0,169,57,1);
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  transition: all 400ms
}

@media screen and (max-width: 900px) {
  nav > ul {
    flex-direction: column;
    align-items: center
  }
}
@media (max-width: 360px) {
  nav > ul > li > a {
    font-size: 2em
  }
}

/* main block */
main {
  flex: 1;
  margin: 15px auto
}

/* index */
.index {
  background: rgba(0,0,0,0.6);
}
.index h2 {
  padding: 0 0 10px;
  font-size: 2.5em;
  text-align: center;
  color: #fff
}
.index-pizza {
  width: 400px;
  height: 300px;
  margin: 3vw auto;
  background: transparent url(../img/pierospizza.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: middle
}
.introduction {
  width: 90%;
  font-size: 1.4em;
  margin: 10px auto;
  text-align: center;
  color: #fff
}

/* contact */
.contact {
  text-align: center
}
.contact > dt {
  color: #fff;
  font-size: 1.8em
}
.contact > dd {
  color: #fff;
  margin-bottom: 10px;
  font-size: 1.4em
}
.contact > dd > span {
  display: block
}

/* about us */
.about-us p {
  padding: 0 0 10px;
  font-size: 1.5em;
  text-align: center;
  color: #fff
}
.about-us img {
  margin: 0 auto 10px;
  display: block;
}

/* menu */
.menu {
  width: 100%;
  margin: 0 auto
}
#tabs {
  display: flex;
  justify-content: space-around
}
.tab {
  width: calc(25% - 2px);
  height: 32px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-top-right-radius: 10px;
  background: rgba(0,0,0,0.5);
  font-size: 1.6em;
  text-align: center;
  color: #fff;
  transition: all 400ms;
  cursor: pointer
}
.tab.active {
  background: rgba(0,0,0,0.7)
}
.tab:not(.active):hover {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  transition: all 250ms
}
@media (max-width: 400px) {
  .tab {
    width: auto;
    flex-grow: 1
  }
}
.content {
  min-height: 150px;
  background: rgba(0,0,0,0.7);
  color: #fff
}
.menu-content {
  display: none;
  width: 90%;
  margin: 0 auto;
  padding-top: 2vw
}
.menu-content.active {
  display: block
}
.content table {
  border-collapse: collapse;
  margin-bottom: 2vw
}
.content table:last-child {
  margin-bottom: 0
}
.content table:last-child tr:last-child {
  border-bottom: 0
}
.content caption {
  font-size: 1.5em
}
.content thead {
  font-size: 1.3em;
  border-bottom: 1px solid white
}
.content tbody tr {
  font-size: 1.1em;
  border-bottom: 1px dashed rgba(255,255,255,0.3)
}
.content tr > td {
  padding: 5px 0
}
.content tr > td:first-child {
  width: 20%
}
.content tr > td:nth-child(2), .content tr > td:nth-child(3) {
  width: 15%;
  text-align: right;
  padding-right: 2%
}
.content tr > td:nth-child(4) {
  width: 40%
}

/* footer block */
footer {
  background: rgba(0,0,0,0.6)
}
.copyright {
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  padding: 5px 0;
  font-size: 1.2em
}

/* fonts */
.logo, nav > ul > li > a, #contact, .contact dt, .content caption, .index > h2, .gallery .item h2 {
  font-family: 'Cinzel', serif
}
header > p, .introduction, .tab, .copyright, .contact dd, .content thead, .content tbody {
  font-family: 'Roboto', sans-serif
}

/* Gallery */
.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4)
}

.gallery .control-button:first-of-type,
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3),
.gallery .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4),
.gallery .control-operator:nth-of-type(5):target ~ .controls .control-button:nth-of-type(5) {
  color: white;
  color: rgba(255, 255, 255, 0.8)
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  opacity: 1
}

.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s
}

.gallery .control-operator {
  display: none
}

.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  animation: none
}

.gallery .control-operator:target ~ .controls .control-button {
  animation: none
}

@keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }

  14.3%, 50% {
    color: white;
    color: rgba(255, 255, 255, 0.8)
  }

  64.3%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }
}

@keyframes galleryAnimation-2 {
  0% {
    opacity: 0
  }

  14.3%, 50% {
    opacity: 1
  }

  64.3%, 100% {
    opacity: 0
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1
}

.items-2.autoplay .control-button {
  animation: controlAnimation-2 14s infinite
}

.items-2.autoplay .item {
  animation: galleryAnimation-2 14s infinite
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  animation-delay: -2s
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  animation-delay: 5s
}

@keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }

  9.5%, 33.3% {
    color: white;
    color: rgba(255, 255, 255, 0.8)
  }

  42.9%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }
}

@keyframes galleryAnimation-3 {
  0% {
    opacity: 0
  }

  9.5%, 33.3% {
    opacity: 1
  }

  42.9%, 100% {
    opacity: 0
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1
}

.items-3.autoplay .control-button {
  animation: controlAnimation-3 21s infinite
}

.items-3.autoplay .item {
  animation: galleryAnimation-3 21s infinite
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  animation-delay: -2s
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  animation-delay: 5s
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  animation-delay: 12s
}

@keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }

  7.1%, 25% {
    color: white;
    color: rgba(255, 255, 255, 0.8)
  }

  32.1%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }
}

@keyframes galleryAnimation-4 {
  0% {
    opacity: 0
  }

  7.1%, 25% {
    opacity: 1
  }

  32.1%, 100% {
    opacity: 0
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1
}

.items-4.autoplay .control-button {
  animation: controlAnimation-4 28s infinite
}

.items-4.autoplay .item {
  animation: galleryAnimation-4 28s infinite
}

.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
  animation-delay: -2s
}

.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
  animation-delay: 5s
}

.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
  animation-delay: 12s
}

.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
  animation-delay: 19s
}

@keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }

  5.7%, 20% {
    color: white;
    color: rgba(255, 255, 255, 0.8)
  }

  25.7%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4)
  }
}

@keyframes galleryAnimation-5 {
  0% {
    opacity: 0
  }

  5.7%, 20% {
    opacity: 1
  }

  25.7%, 100% {
    opacity: 0
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1
}

.gallery .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1
}

.items-5.autoplay .control-button {
  animation: controlAnimation-5 35s infinite
}

.items-5.autoplay .item {
  animation: galleryAnimation-5 35s infinite
}

.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
  animation-delay: -2s
}

.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
  animation-delay: 5s
}

.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
  animation-delay: 12s
}

.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
  animation-delay: 19s
}

.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
  animation-delay: 26s
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4)
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8)
}

/*
  Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: relative;
}

.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center
}

.gallery .item h2 {
  font-size: 2em
}

.gallery .item img {
  border-radius: 5px
}

@media (max-width: 720px) {
  .gallery .item img {
    width: 95%;
    height: auto;
  }
  .gallery .item {
    height: 58vw;
  }
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s
}
